$line-border-fill: #3498db;
$line-border-empty: #e0e0e0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #f6f7fb;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 350px;
  max-width: 100%;
  margin-bottom: 30px;

  &::before {
    content: "";
    background-color: $line-border-empty;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
  }
}

.progress {
  background-color: $line-border-fill;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #e0e0e0;
  transition: 0.4s ease;
}

.circle.active {
  border-color: $line-border-fill;
}

.btn {
  background-color: $line-border-fill;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  border: 0;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;

  &:active {
    transform: scale(0.98);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: $line-border-empty;
    cursor: not-allowed;
  }
}
